$opacity: 0.8; 
$font-size: 1em;
$black: black;
$cianblue: rgb(26, 105, 105);
$burlywood: burlywood;
$choco: chocolate;
$darkgold:darkgoldenrod;
$rosybrown: rosybrown;
$darksalmon:darksalmon;
$darkslategray: darkslategray;
$cyan: cyan;
$headerFont: 2em;
$nav_font: 1.2em;